body {
  font-family: "Playfair Display", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgb(112, 160, 199);
}

main {
  padding: 0 1rem;
}

div.shopping.cart button{
  justify-content:left;
  
}

.form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(164, 164, 185, 0.5);
}
.form label{
  display: flex;
  justify-content:center;
}
.form div{
  margin-right: 2rem;
  flex: 1;
}
.form button {
  color: brown;
  background-color: bisque;
  width: 150px;
}

.card {
  list-style: none;
  
}
.card img {
  width: 100%;
}

.card button {
  margin-top: 0.2rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

table {
  width:90%;
  border-collapse:collapse;
}

table, td, th {
  border-top:1px solid black;
  border-bottom:1px solid black;
}

thead>tr {
  height:4rem;
}

tbody>tr {
  height:8rem;
}

td>img {
  max-width: auto;
  max-height: 8rem;
}